<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>{{ pdf.title }}</title>
    {% load static %}
    <link href="{% static 'previews/css/pdf.css' %}" rel="stylesheet"/>
</head>
<body>

{% if pdf.header %}
<header>
    <h1 id="titulo-principal">{{ pdf.header }}</h1>
</header>
{% endif %}

<main>
    {% if sujeto %}
    <section aria-labelledby="data-title" class="info">
        {% if pdf.data_title %}
        <h2 class="section-title" id="data-title">{{ pdf.data_title }}</h2>
        {% endif %}

        <dl>
            {% for titulo, valor in sujeto.items %}
            <div class="dato">
                <dt>{{ titulo }}</dt>
                <dd>{{ valor }}</dd>
            </div>
            {% endfor %}
        </dl>
    </section>
    {% endif %}

    {% if tabla_pdf %}
    <section aria-labelledby="tabla-titulo" class="tabla-seccion">

        {% if pdf.table_title %}
        <h2 class="section-title" id="tabla-titulo">{{ pdf.table_title }}</h2>
        {% endif %}

        <div aria-label="{{ pdf.table_title }}" class="tabla-scrollable" role="region">
            <table>
                <thead>
                <tr>
                    {% for columna in tabla_columnas_pdf %}
                    <th scope="col">{{ columna }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for fila in tabla_pdf %}
                <tr>
                    {% for dato in fila %}
                    <td>{{ dato|default_if_none:"" }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </section>
    {% endif %}
</main>

{% if pdf.footer %}
<footer>
    <p class="footer-text">{{ pdf.footer }}</p>
</footer>
{% endif %}

</body>
</html>
