<div
        aria-describedby="modal-envios-title"
        aria-labelledby="modal-envios-title"
        aria-modal="true"
        class="modal"
        id="modal-enviar-whatsapp"
        role="dialog"
        tabindex="-1"
>
    <div class="modal-content">
        <button aria-label="Cerrar modal" class="close-btn" onclick="cerrarModal('modal-enviar-whatsapp')">×</button>

        <!-- Título -->
        {% if modal.send_whatsapp.title %}
        <h2 id="modal-envios-title">{{ modal.send_whatsapp.title }}</h2>
        {% endif %}

        <!-- Formulario -->
        <form action="{% url 'send_whatsapp_pdf' %}" method="POST">
            {% csrf_token %}
            <div class="input-button-row">
                <label class="btn-whatsapp-label" for="numero-whatsapp">
                    {{ modal.send_whatsapp.number_label }}
                </label>
                <input
                        class="btn-whatsapp-input"
                        id="numero-whatsapp"
                        name="numero"
                        pattern="{{ modal.send_whatsapp.pattern }}"
                        placeholder="{{ modal.send_whatsapp.placeholder }}"
                        required
                        title="{{ modal.send_whatsapp.pattern_text }}"
                        type="text"
                />
                <button class="btn-whatsapp" type="submit">{{ modal.send_whatsapp.send_label }}</button>
            </div>
        </form>
    </div>
</div>
