<div
        aria-labelledby="modal-title"
        aria-modal="true"
        class="modal visible"
        id="modal"
        role="dialog"
        tabindex="-1"
>
    <div class="modal-content">
        <button aria-label="Cerrar modal" class="close-btn" onclick="cerrarModal()">×</button>
        <h2 id="modal-title">{{ data_title }}</h2>

        {% for titulo, valor in persona.items %}
        <div class="dato">
            <span>{{ titulo }}:</span> {{ valor }}
        </div>
        {% endfor %}

        <div class="dato">
            <h3>{{ table_title }}</h3>
            <div class="tabla-scrollable">
                <table>
                    <thead>
                    <tr>
                        {% for columna in tabla_columnas %}
                        <th>{{ columna }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for fila in tabla %}
                    <tr>
                        {% for dato in fila %}
                        <td>{{ dato|default_if_none:"" }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <form action="{{ pdf_url }}" id="form-enviar-pdf" method="POST">
            {% csrf_token %}
            <div class="input-button-row">
                <label class="btn-whatsapp-label" for="numero-whatsapp">{{ number_label }}</label>

                <input class="btn-whatsapp-input"
                       id="numero-whatsapp"
                       name="numero"
                       pattern="^\d{10}$"
                       placeholder="Ej. 5512345678"
                       required
                       title="Debe tener 10 dígitos numéricos"
                       type="text"/>

                <button class="btn-whatsapp" type="submit">{{ send_button_label }}</button>
            </div>
        </form>

        <!-- Contenedor donde se cargará el mensaje de error por AJAX -->
        <div class="mensaje-transitorio" id="mensaje-envio" style="display: none;"></div>
    </div>
</div>
