{% load custom_filters %}

<div
        aria-labelledby="modal-title"
        aria-modal="true"
        class="modal visible"
        id="modal"
        role="dialog"
        tabindex="-1"
>
    <div class="modal-content">
        <button aria-label="Cerrar modal" class="close-btn" onclick="cerrarModal()">×</button>

        {% if modal_title %}
        <h2 id="modal-title">{{ modal_title }}</h2>
        {% endif %}

        {% if sujeto %}

        {% if data_title %}
        <h3 id="data-title">{{ data_title }}</h3>
        {% endif %}

        {% for titulo, valor in sujeto.items %}
        <div class="dato">
            <span>{{ titulo }}:</span> {{ valor }}
        </div>
        {% endfor %}

        {% endif %}

        <div class="dato">

            {% if table_title %}
            <h3>{{ table_title }}</h3>
            {% endif %}

            <div class="tabla-scrollable">
                <table>
                    <thead>
                    <tr>
                        {% for columna in tabla_columnas %}
                        <th>{{ columna }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for fila in tabla %}
                    <tr>
                        {% for dato in fila %}
                        <td data-label="{{ tabla_columnas|index:forloop.counter0 }}">{{ dato|default_if_none:"" }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if mostrar_vista_previa or mostrar_enviar_email %}
        <div class="botones-agrupados">
            {% if mostrar_vista_previa %}
            <button
                    class="btn btn-outline-primary"
                    onclick="abrirVistaPrevia()"
                    type="button"
            >
                {{ preview_label }}
            </button>
            {% endif %}
            {% if mostrar_enviar_email %}
            <button
                    class="btn btn-outline-secondary"
                    onclick="mostrarFormularioEmail()"
                    type="button"
            >
                {{ send_email_label }}
            </button>
            {% endif %}
        </div>
        {% endif %}

        <form
                action="{% url 'send_email_pdf' %}"
                id="send-email-pdf-form"
                method="POST"
                style="display: none; margin-top: 1em;"
        >
            {% csrf_token %}
            <div class="input-button-row">
                <label for="email">{{ email_label }}</label>
                <input
                        id="email"
                        name="email"
                        placeholder="ejemplo@correo.com"
                        required
                        type="email"
                />
                <button class="btn btn-primary" type="submit">
                    {{ send_button_label }}
                </button>
            </div>
        </form>

        <form action="{% url 'send_whatsapp_pdf' %}" id="form-send-whatsapp-pdf" method="POST">
            {% csrf_token %}
            <div class="input-button-row">
                <label class="btn-whatsapp-label" for="numero-whatsapp">{{ number_label }}</label>

                <input class="btn-whatsapp-input"
                       id="numero-whatsapp"
                       name="numero"
                       pattern="^\d{10}$"
                       placeholder="Ej. 5512345678"
                       required
                       title="Debe tener 10 dígitos numéricos"
                       type="text"/>

                <button class="btn-whatsapp" type="submit">{{ send_button_label }}</button>
            </div>
        </form>

        <!-- Contenedor donde se cargará el mensaje de error por AJAX -->
        <div class="mensaje-transitorio" id="mensaje-envio" style="display: none;"></div>
    </div>
</div>
