<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>{{ title }}</title>
    {% load static %}
    <link href="{% static 'kiosco/css/pdf.css' %}" rel="stylesheet"/>
</head>
<body>
<header>
    <h1 id="titulo-principal">{{ header }}</h1>
</header>

<main>
    <section aria-labelledby="data-title" class="info">
        <h2 class="section-title" id="data-title">{{ data_title }}</h2>
        <dl>
            {% for titulo, valor in persona.items %}
            <div class="dato">
                <dt>{{ titulo }}</dt>
                <dd>{{ valor }}</dd>
            </div>
            {% endfor %}
        </dl>
    </section>

    {% if tabla %}
    <section aria-labelledby="tabla-titulo" class="tabla-seccion">
        <h2 class="section-title" id="tabla-titulo">{{ table_title }}</h2>
        <div aria-label="{{ table_title }}" class="tabla-scrollable" role="region">
            <table summary="Tabla de {{ table_title }}">
                <thead>
                <tr>
                    {% for columna in tabla_columnas %}
                    <th scope="col">{{ columna }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for fila in tabla %}
                <tr>
                    {% for dato in fila %}
                    <td>{{ dato|default_if_none:"" }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% endif %}
</main>

<footer>
    <p class="footer-text">{{ footer }}</p>
</footer>
</body>
</html>
