<div
        aria-describedby="modal-envios-title"
        aria-labelledby="modal-envios-title"
        aria-modal="true"
        class="modal"
        id="modal-enviar-email"
        role="dialog"
        tabindex="-1"
>
    <div class="modal-content">
        <button aria-label="Cerrar modal" class="close-btn" onclick="cerrarModal('modal-enviar-email')">×</button>

        <!-- Título -->
        {% if modal.send_email.title %}
        <h2 id="modal-envios-title">{{ modal.send_email.title }}</h2>
        {% endif %}

        <!-- Formulario -->
        <form data-ajax="true" method="POST">
            {% csrf_token %}
            <label for="email">{{ modal.send_email.label }}</label>
            <input
                    id="email"
                    name="email"
                    placeholder="{{ modal.send_email.placeholder }}"
                    required
                    title="{{ modal.send_email.pattern_text }}"
                    type="email"
            />
            <div class="botones-agrupados">
                {% if modal.send_email.pdf.show %}
                <button class="btn btn-primary" formaction="{% url 'send_email_pdf' %}"
                        type="submit">
                    {{ modal.send_email.pdf.label }}
                </button>
                {% endif %}

                {% if modal.send_email.excel.show %}
                <button class="btn btn-primary" formaction="{% url 'send_email_excel' %}"
                        type="submit">
                    {{ modal.send_email.excel.label }}
                </button>
                {% endif %}
            </div>
        </form>

        <!-- Contenedor para respuesta AJAX -->
        <div class="ajax-response"></div>
    </div>
</div>
