<div
        aria-describedby="modal-envios-title"
        aria-labelledby="modal-envios-title"
        aria-modal="true"
        class="modal"
        id="modal-qr"
        role="dialog"
        tabindex="-1"
>
    <div class="modal-content">
        <button class="close-btn" onclick="cerrarModal('modal-qr')">×</button>
        <div id="qr-container">
            <img
                    alt="Código QR"
                    class="qr-image"
                    src="{{ qr_url }}"
            />
        </div>
    </div>
</div>
