{% load custom_filters %}

<div
        aria-labelledby="modal.title"
        aria-modal="true"
        class="modal visible"
        id="modal"
        role="dialog"
        tabindex="-1"
>
    <div class="modal-content">
        <!-- Botón de cierre de modal -->
        <button aria-label="Cerrar modal" class="close-btn" onclick="cerrarModal('modal', 'id')">×</button>

        <!-- Título del modal -->
        {% if modal.title %}
        <h2 id="modal-title">{{ modal.title }}</h2>
        {% endif %}

        <!-- Datos del sujeto -->
        {% if sujeto %}
        <!-- Subtítulo del apartado -->
        {% if modal.data_title %}
        <h3 id="data-title">{{ modal.data_title }}</h3>
        {% endif %}
        <!-- Datos -->
        {% for titulo, valor in sujeto.items %}
        <div class="dato">
            <span>{{ titulo }}:</span> {{ valor }}
        </div>
        {% endfor %}
        {% endif %}

        <!-- Tabla de datos -->
        {% if tabla %}
        <div class="dato">
            <!-- Subtítulo de la tabla -->
            {% if modal.table_title %}
            <h3>{{ modal.table_title }}</h3>
            {% endif %}

            <!-- Definición de la tabla -->
            <div class="tabla-scrollable">
                <table>
                    <!-- Definición de columnas -->
                    <thead>
                    <tr>
                        {% for columna in tabla_columnas %}
                        <th>{{ columna }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <!-- Definición de filas -->
                    <tbody>
                    {% for fila in tabla %}
                    <!-- Definición de campos de cada fila -->
                    <tr>
                        {% for dato in fila %}
                        <td data-label="{{ tabla_columnas|index:forloop.counter0 }}">{{ dato|default_if_none:"" }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

        <!-- Botones -->
        {% if modal.pdf_preview.show or modal.excel_preview.show or modal.send_email.show or modal.send_whatsapp.show %}
        <div class="botones-agrupados">
            {% if modal.pdf_preview.show %}
            <button
                    class="btn btn-outline-primary"
                    onclick="abrirVistaPreviaPDF()"
                    type="button"
            >
                {{ modal.pdf_preview.button_label }}
            </button>
            {% endif %}

            {% if modal.excel_preview.show %}
            <button
                    class="btn btn-outline-primary"
                    onclick="abrirVistaPreviaExcel()"
                    type="button"
            >
                {{ modal.excel_preview.button_label }}
            </button>
            {% endif %}

            {% if modal.qr_pdf.show %}
            <button
                    class="btn btn-outline-primary"
                    onclick="abrirQR('pdf')"
                    type="button"
            >
                {{ modal.qr_pdf.button_label }}
            </button>
            {% endif %}

            {% if modal.qr_excel.show %}
            <button
                    class="btn btn-outline-primary"
                    onclick="abrirQR('excel')"
                    type="button"
            >
                {{ modal.qr_excel.button_label }}
            </button>
            {% endif %}

            {% if modal.send_email.show %}
            <button
                    class="btn btn-outline-secondary"
                    onclick="abrirModal('modal-enviar-email')"
                    type="button"
            >
                {{ modal.send_email.button_label }}
            </button>
            {% endif %}

            {% if modal.send_whatsapp.show %}
            <button
                    class="btn btn-outline-secondary"
                    onclick="abrirModal('modal-enviar-whatsapp')"
                    type="button"
            >
                {{ modal.send_whatsapp.button_label }}
            </button>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
