<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Espacios disponibles</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar/main.min.css" rel="stylesheet">
    <link href="{% static 'main/css/main.css' %}" rel="stylesheet"/>
    <link href="{% static 'agendas/css/espacios_disponibles.css' %}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>Espacios disponibles</h1>
    <div class="agenda-container">
        <div id="agenda-calendar"></div>
    </div>
</div>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
<script src="{% static 'viewers/js/utils.js' %}"></script>
<script src="{% static 'agendas/js/espacios_disponibles.js' %}"></script>
<script>
    startAgenda("{% static 'data/espacios_disponibles.json' %}");
</script>

</body>
</html>
