<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>{{ initial.title }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    {% load static %}
    <link href="{% static 'main/css/main.css' %}" rel="stylesheet"/>
    <link href="{% static 'sendings/css/qr.css' %}" rel="stylesheet"/>
</head>
<body>

{% include 'sendings/partials/modal_qr.html' %}
{% include 'sendings/partials/modal_enviar_email.html' %}
{% include 'sendings/partials/modal_enviar_whatsapp.html' %}

<div aria-labelledby="initial-title" class="container" role="initial">
    {% if initial.home.show %}
    <a href="{{ home_url }}" class="home-link">{{ initial.home.label }}</a>
    {% endif %}

    <h1 id="initial-title">{{ initial.header }}</h1>

    <form id="buscar-form" method="POST" data-ajax="true" action="">
        {% csrf_token %}
        <div class="form-group">

            <!-- Entrada de ID -->
            {% if initial.id.show %}
            <label for="id">{{ initial.id.label }}</label>
            <div class="input-group">
                <input
                        class=""
                        id="id"
                        maxlength="{{ initial.id.max_length }}"
                        name="id"
                        pattern="{{ initial.id.pattern }}"
                        placeholder="{{ initial.id.placeholder }}"
                        {% if initial.id.required %}required{% endif %}
                        type="text"
                        value=""
                />
            </div>
            {% endif %}

            <!-- Entrada de Fecha -->
            {% if initial.date.show %}
            <label class="fecha-label" for="fecha">{{ initial.date.label }}</label>
            {% if initial.date.sublabel %}
            <p class="form-sublabel">{{ initial.date.sublabel }}</p>
            {% endif %}
            <div class="input-group">
                <input
                        id="fecha"
                        name="fecha"
                        {% if initial.date.required %}required{% endif %}
                        type="date"
                        value="{{ initial.date.initial_date|date:'Y-m-d' }}"
                />
            </div>
            {% endif %}

        </div>
        <button aria-label="{{ initial.search_button.label }}" type="submit">
            {{ initial.search_button.label }}
        </button>

        <!-- Contenedor para respuesta AJAX -->
        <div class="ajax-response"></div>
    </form>
</div>

<!-- Mensaje de 'Procesando...' -->
<div id="processing-message" aria-hidden="true">
    <div class="spinner"></div>
    <div>{{ initial.search_button.message }}</div>
</div>

<!-- Scripts -->
<script>
    window.FormConfig = {
        idRequired: {{ initial.id.required|yesno:"true,false" }},
    idPreserve: {{ initial.id.preserve|yesno:"true,false" }},
    dateRequired: {{ initial.date.required|yesno:"true,false" }},
    datePreserve: {{ initial.date.preserve|yesno:"true,false" }}
    };
</script>
<script defer src="{% static 'queries/js/consulta.js' %}"></script>
<script defer src="{% static 'sendings/js/qr.js' %}"></script>

{% if redirect.active %}
<script defer src="{% static 'menus/js/auto_redirect.js' %}"></script>
<div id="redirection-message">
    <p>Redirigiendo en <span id="countdown">{{ redirect.countdown_seconds }}</span> segundos…</p>
    <button id="stay-btn">Seguir aquí</button>
</div>
<script>
    redirect_to("{{ redirect.url }}", {{ redirect.after_minutes }}, {{ redirect.countdown_seconds }});
</script>
{% endif %}

</body>
</html>
